.DS_Store
*.tmp
*.swp

# Terraform
.terraform/
*.tfstate
*.tfstate.*
**/.terraform/
**/*.tfstate
**/*.tfstate.*
errored.tfstate
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
tfplan

# CLI config
.terraformrc
terraform.rc

# Sensitive vars
*.tfvars.json


k8s-starter-templates/
kubectl-argo-rollouts.exe
platform/